@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #7A1CAC;
    font-family: "Montserrat", sans-serif;
    height: 100%;
}

.bg-primary {
    background-color: #7A1CAC;
}

.navbar,
.bg-card {
    background-color: #2e073f;
}

.navbar-toggler:hover .top-bar,
.navbar-toggler:hover .middle-bar,
.navbar-toggler:hover .bottom-bar {
    background-color: #7a1cac;
}

#logo {
  font-family: "montserrat", sans-serif;
  color: white;
  font-size: 25px;
  margin-left: 15px;
  text-shadow: 0 0 5px rgba(0, 255, 255, 0.5); /* Initial shadow */
transition: text-shadow 0.3s ease; /* Smooth transition */
}


#logo:hover {
  text-shadow: 
  0 0 10px #7A1CAC, /* Bright glow */
  0 0 20px #AD49E1, /* Medium glow */
  0 0 30px #EBD3F8; /* Faint glow */
}

#navBar {
  background-color: #2E073F;
}

    /* ------------------------------------------- Burger Icon */
    .navbar-toggler {
        border: none;
        background: transparent;
        position: relative;
        width: 30px;
        height: 30px;
        margin-right: 20px;
        outline: none !important;
        box-shadow: none !important;
    }

    /* -----------------------Styling each of the burger icon lines */
    .toggler-icon {
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        background-color: white;
        border-radius: 0px;
        border-color: transparent;
        transition: transform 0.25s ease-in-out;
    }

    /* ---------------------------------Positioning the burger icon lines */
    .top-bar {
        top: 0px;
    }

    .middle-bar {
        top: 50%;
        transform: translateY(-50%);
    }

    .bottom-bar {
        bottom: 0px;
    }

    /*---------- Hover effect: Change the color when hovering over the navbar-toggler */
    .navbar-toggler:hover .top-bar,
    .navbar-toggler:hover .middle-bar,
    .navbar-toggler:hover .bottom-bar {
        background-color: #7A1CAC;
    }

    /* -----------------------------------------Toggler animation when collapsed */
    .navbar-toggler.collapsed .top-bar {
        transform: rotate(135deg);
    }

    .navbar-toggler.collapsed .middle-bar {
        opacity: 0;
    }

    .navbar-toggler.collapsed .bottom-bar {
        transform: rotate(-135deg);
    }

    /* ------------------------------------------- Navbar Links Styling */
    .navbar-nav .nav-link {
        color: white !important;
        /* Make links white for both navbar and offcanvas */
        transition: color 0.3s ease-in-out;
        padding: 10px 15px;
        font-weight: 600;
    }

    .nav-link:hover {
        color: #7A1CAC !important;
    }

    .nav-link:active {
        color: #7A1CAC !important;
    }

    .nav-link {
        color: white !important;
        font-family: "montserrat", sans-serif;
        margin-right: 20px;
    }

    /* --------------------------- Hover effect: Change the link color on hover */
    .navbar-nav .nav-link:hover {
        color: #2E073F !important;
    }

    .navbar-nav .nav-link:active {
        color: #2E073F !important;
    }

    /* ------------------------------------------- Offcanvas Links */
    #offcanvasNavbar .navbar-nav .nav-link {
        color: white !important;
    }

    #offcanvasNavbar .navbar-nav .nav-link:hover {
        color: #2E073F !important;
    }

    /* ------------------------------------------- Offcanvas styles */
    .offcanvas {
        transform: translateX(100%) !important;
    }

    .offcanvas-header {
        background-color: #2E073F;
        height: 64px;
        color: white;
    }

    .offcanvas.show {
        transform: translateX(0) !important;
        border: none;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .btn-close  {
        background-color: rgba(255, 255, 255, 0.441);
    }

    .offcanvas-end {
        background-color: #7A1CAC;
        width: 280px;
        transition: transform 0.3s ease-in-out;
        border: none;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    #offcanvasNavbar {
        background-color: #7A1CAC;
        color: white;
        font-family: "montserrat", sans-serif;
    }

    /* ------------------------------------------- Background color */
    section {
        background-color: #7A1CAC;
        min-height: 100vh;
    }

     /* ------------------------------------------- Card Section */
    .card {
        background-color: #AD49E1;
        border: none;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Smooth transition for transform and box-shadow */
    }
    

    .card:hover {
        transform: scale(1.05); /* Slightly increase the size on hover */
    }

    .card-header {
        background-color: #2E073F;
        color: white;
    }

    .card-body {
        color: white;
    }

    /* ------------------------------------------- Graph */
    
        @media (max-width: 768px) { /* Adjust the max-width as needed */
            .graph-card  {
            display: none;
            }
}

/*------------------------------------------------ Quiz */


.quiz-card {
    
    background: white;
}

.quiz-card h1 {
    font-size: 25px;
    color: #2E073F;
    border-bottom: 1px solid #2E073F;
    padding-bottom: 30px;
    
}

.quiz {
    padding: 20px 0;

}

.quiz h2 {
    font-size: 18px;
    color: #7A1CAC;
    font-weight: 600;
}

.quiz-button {
    background:#AD49E1 ;
    color: white;
    font-weight: 500;
    width: 100%;
    border: 1px solid #2E073F;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}
.quiz-button:hover {
background: #7A1CAC;
color: white;
}

#next-button {
    background: #AD49E1;
    color: #2E073F;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 3px;
    cursor: pointer;
}